## generic files to ignore
*.classpath
*.project
*.settings
target/*
jt-affine/target/*
jt-scale/target/*
jt-warp/target/*
jt-iterators/target/*
jt-utilities/target/*
jt-mosaic/target/*
jt-translate/target/*
jt-lookup/target/*
jt-stats/target/*
jt-zonal/target/*
concurrent-tile-cache/src/test/resources/it/geosolutions/logfiles
concurrent-tile-cache/target/*
concurrent-tile-cache/bin/*
roiaware-legacy/target/*
squareroot/target/*

