## generic files to ignore
*.classpath
*.project
*.settings
target/*
jt-affine/target/*
jt-algebra/target/*
jt-scale/target/*
jt-warp/target/*
jt-iterators/target/*
jt-utilities/target/*
jt-mosaic/target/*
jt-translate/target/*
jt-lookup/target/*
jt-stats/target/*
jt-zonal/target/*
jt-crop/target/*
jt-rescale/target/*
jt-nullop/target/*
jt-bandmerge/target/*
jt-border/target/*
jt-buffer/target/*
jt-scheduler/target/*
changematrix/target/*
concurrent-tile-cache/src/test/resources/it/geosolutions/logfiles
concurrent-tile-cache/target/*
concurrent-tile-cache/bin/*
roiaware-legacy/target/*
squareroot/target/*
release/target/*
